<!DOCTYPE html>
<html>
<head>
<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a h1 :hover {
	background-color: #111111;
}
</style>

<link rel="stylesheet" href="resources/css/hover-button.css"
	type="text/css" />
</head>
<body>

	<ul>
		<li><a href="./person/add">Logout</a></li>
		<li><a href="./person/add">Add+</a></li>
	</ul>

</body>
</html>