body

  
background-color
:
 
#e3e5e7

  
font
:
 
normal
 
16
px
/22px
 
"
GothamRoundedLight
"
,
sans-serif

    

.clearfix
:after

  
content
:
 
""
display
:
 
block

  
clear
:
 
both

  
visibility
:
 
hidden

  
font-size
:
 
0
height
:
 
0
.clearfix

  
*
display
:
 
inline-block

  

section

  
width
:
 
420
px

  
background
:
 
#fff

  
position
:
 
relative

  
margin
:
 
50
px
 
auto

  
padding
:
 
0
0
4
px

  
box-shadow
:
 
0
0
100
px
 
rgba
(0
,
0,
0,
0
.2
)

  
z-index
:
 
0
&
:after

    
position
:
 
absolute

    
left
:
 
4
px

    
top
:
 
4
px

    
bottom
:
 
4
px

    
content
:
 
""
background
:
 
#f6f6f6

    
width
:
 
84
px

    
z-index
:
 
-1
header

    
text-align
:
 
center

    
width
:
 
100%
.user

      
float
:
 
right

      
width
:
 
335
px

      
padding
:
 
30
px
 
0
.avatar

        
margin
:
  
0
auto

        
width
:
 
150
px

        
height
:
 
150
px

        
border-radius
:
 
100%
background-color
:
 
#fff


        
img
 
          
display
:
 
block

          
width
:
 
100%
height
:
 
100%
border-radius
:
 
100%
h2

        
margin
:
 
15
px
 
0
0
color
:
 
#000

        
font
:
 
normal
 
24
px
/1
 
"
GothamRoundedMedium
"
,
sans-serif

      
p

        
color
:
 
#b0b0b0

        
font-size
:
 
18
px

        
margin
:
 
15
px
 
0
0
a
.follow

        
display
:
 
inline-block

        
border-radius
:
 
50
px

        
background
:
 
#23f3ac

        
text-decoration
:
 
none

        
width
:
 
180
px

        
height
:
 
50
px

        
margin
:
 
15
px
 
0
0
color
:
 
#fff

        
font
:
 
normal
 
18
px
/50px
 
"
GothamRoundedBold
"
,
sans-serif

        
transition
:
 
all
 
ease
 
.2s

        
        
span

          
font-size
:
 
20
px

          
margin-right
:
 
5
px

          
        
&
:hover

          
opacity
:
 
.7

    
    
.like

      
padding
:
 
15
px
 
0
float
:
 
left

      
width
:
 
85
px

      
      
.icon

        
background
:
 
#fff
 
url
(http
:
//i
.imgur
.com
/p6pVEjp
.png
)
 
no-repeat
 
center

        
width
:
 
55
px

        
height
:
 
55
px

        
border-radius
:
 
100%
display
:
 
inline-block

      
span

        
display
:
 
inline-block

        
background
:
 
#fff

        
border-radius
:
 
20
px

        
width
:
 
40
px

        
height
:
 
20
px

        
font
:
 
normal
 
13
px
/20px
 
"
GothamRoundedBold
"
,
sans-serif

    
  
.menu

    
list-style
:
 
none

    
margin
:
 
0
padding
:
 
0
a

      
display
:
 
block

      
text-decoration
:
 
none

      
padding
:
 
30
px
 
0
30
px
 
120
px

      
font-size
:
 
20
px

      
color
:
 
#b2b2b2

      
border-left
:
 
4
px
 
solid
 
#fff

      
background
:
 
rgba
(232
,
232,
232,
0
.4
)
  
url
(http
:
//i
.imgur
.com
/bdUSt1u
.png
)
 
no-repeat
 
26
px
 
center

      
transition
:
 
all
 
ease
 
.2s

        
      
&
:hover
 
        
padding-left
:
 
130
px

        
color
:
 
#787878

        
border-color
:
 
#f67878

        
      
&
.active

        
border-color
:
 
#f67878

        
color
:
 
#787878

        
font-family
:
 
'
GothamRoundedMedium
'
,
sans-serif

 
      
&
.timeline

        
background-image
:
 
url
(http
:
//i
.imgur
.com
/5eFnzAS
.png
)

        
background-color
:
 
transparent

        
      
&
.podcast

        
background-image
:
 
url
(http
:
//i
.imgur
.com
/ZnwPYeb
.png
)

      

.copyrights

  
text-align
:
 
center

  
text-transform
:
 
capitalize

  
margin
:
 
50
px

  
a

    
text-decoration
:
 
none

    
color
:
 
#f67878